.tokenomics {
  padding-top: 110px;
  padding-bottom: 140px;
  position: relative;
  top: -6px;
  background-image: url("../public/img/common_bg_dark.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding-top: 40px;
  }
}

.tokenomics__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  position: relative;

  @media screen and (max-width: 1080px) {
    position: static;
  }
}

.tokenomics__title {
  margin-bottom: 63px;
  font-size: 60px;
  line-height: 105%;

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
    font-size: 42px;
  }
}

.tokenomics__statistics {
  margin-bottom: 128px;
  display: flex;
  gap: 8px;

  @media screen and (max-width: 1080px) {
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    gap: 10px;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.presale,
.team,
.marketing,
.liquidity {
  width: 25%;
  min-height: 208px;
  padding: 25px 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.065);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 1080px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    min-width: 259px;
    min-height: 174px;
    padding: 20px 23px;
  }

  h3 {
    font-size: 26px;
    line-height: 105%;

    @media screen and (max-width: 768px) {
      font-size: 22px;
    }
  }

  span {
    font-size: 60px;
    line-height: 105%;

    @media screen and (max-width: 768px) {
      font-size: 46px;
    }
  }
}

.tokenomics__bottom {
  display: flex;
  align-items: center;
}

.tokenomics__code {
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 1080px) {
    margin-left: auto;
    margin-right: auto;
  }

  .code__key {
    position: relative;
    #key {
      font-weight: 400;
      font-size: 26px;
      line-height: 105%;
      letter-spacing: 0.03em;
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      word-break: break-all;

      @media screen and (max-width: 768px) {
        position: relative;
        font-size: 18px;
      }
    }

    .code__bg {
      mix-blend-mode: soft-light;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .code__copy {
    position: relative;
    #copy {
      font-size: 22px;
      line-height: 105%;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        top: 0;
        translate: -50% 50%;
      }
    }
    .copy__bg {
      mix-blend-mode: overlay;

      @media screen and (max-width: 768px) {
        translate: 0 -20%;
      }
    }
  }
}

.tokenomics__total {
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1080px) {
    right: 42%;
    bottom: 40px;
  }

  @media screen and (max-width: 768px) {
    right: 50%;
    translate: 33% 0;
  }

  .total__text {
    font-size: 36px;
    line-height: 105%;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }

  .total__num {
    font-size: 44px;
    line-height: 105%;
    position: relative;
    text-wrap: nowrap;

    @media screen and (max-width: 768px) {
      font-size: 42px;
    }

    &::before {
      content: url("../public/img/tokenomics/total_bg.png");
      position: absolute;
      top: 0;
      left: 0;
      translate: -10% -25%;
      width: 100%;
      height: 100%;
      mix-blend-mode: soft-light;

      @media screen and (max-width: 768px) {
        scale: 0.85;
      }
    }

    &::after {
      content: url("../public/img/tokenomics/total_mark.png");
      position: absolute;
      top: 0;
      right: 0;
      translate: 105% -25%;
      width: 100%;
      height: 100%;
      mix-blend-mode: hard-light;
      z-index: 1;
    }
  }
}
